{{ header }} {{ column_left }}
<div id = "content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumc.href }}">{{ breadcrumb.text }}</a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="filter-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class='fa fa-filter'>{{ text_filter }}</i> </h3>
                    </div>
                    <form action="{{ filter_action }}" method="POST">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label" for="input-name">Name</label>
                                <input type="text" name="filter_name" value="{{ filter_name }}"
                                       placeholder="Name" id="input-name" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="input-email">Email</label>
                                <input type="text" name="filter_email" value="{{ filter_email }}"
                                       placeholder="Emeil" id="input-email" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="input-age">Age</label>
                                <input type="text" name="filter_age" value="{{ filter_age }}"
                                       placeholder="Age" id="input-age" class="form-control"/>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i>
                                    {{ button_filter }} </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-9 col-md-pull-3 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Список </h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td><a href="{{ name_sort_link }}">Name</a> </td>
                            <td><a href="{{ email_sort_link }}">Email</a></td>
                            <td><a href="{{ age_sort_link }}">Age</a></td>

                            <td>Company</td>
                            <td>Tax Form</td>
                            <td>File</td>
                            <td>Comment</td>
                            <td>Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for partnership in partnerships %}
                            <tr {{ partnership.tr_style }}>
                                <td>{{ partnership.name }}</td>
                                <td>{{ partnership.email }}</td>
                                <td>{{ partnership.age }}</td>
                                <td>{{ partnership.company }}</td>
                                <td>{{ parntnership.tax_form }}</td>
                                <td>{{ partnership.file }}</td>
                                <td>{{ partnership.comment }}</td>

                                <td>

                                    <a href="{{ partnership.save_image }}" class="button">
                                        <i class="fa fa-image" aria-hidden="true"></i>
                                    </a>

                                    <a href="{{ partnership.delete_link }}" class="button">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                    {% if (partnership.is_active==0) %}
                                        <a href="{{ partnership.activate_link }}" class="button">
                                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ partnership.deactivate_link }}" class="button">
                                            <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}

                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ save_file }}">Создать csv</a>

    <img src="{{result}}" />







{{  footer }}